@media (max-width: 1900px) {
  .emty {
    height: 0;
    width: 0;
  }
}
@media (max-width: 1844px) {
  .item--moved {
    margin-bottom: -8rem;
    margin-left: -5rem;
  }
  .furniture__section-photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-right: -6rem;
    transition: all 0.4s;
  }
  .furniture_item7 {
    background-image: url(/assets/img/furnitures/img7.png);
    width: 0;
    height: 0;
    display: none;
  }
  .furniture_item9 {
    margin-left: -27rem !important;
  }
  .furniture__section .emty {
    display: none;
  }
}
@media (max-width: 1555px) {
  .furniture__section-photo-container--item {
    max-width: 30rem;
    max-height: 40rem;
  }
  .furniture__section-photo-container--item.furniture_item2 {
    margin-left: -2rem;
    max-width: 32rem;
  }
  .item--moved {
    margin-left: -0.3rem;
  }
  .furniture_item9 {
    margin-left: -12rem !important;
  }
  .furniture__section-photo-container {
    margin-right: -2.4rem;
  }
  .rooms-btn {
    left: 48rem;
  }
  .hero-btn.slider__btn--left {
    right: 23rem;
  }
  .hero-btn.slider__btn--right {
    right: 18rem;
  }
}
@media (max-width: 1346px) {
  html {
    font-size: 56.25% !important;
  }
  .emty {
    display: none;
  }
  .grid--footer {
    grid-template-columns: 2.5fr 1.1fr 1fr 1.8fr 3fr;
  }
}
@media (max-width: 1232px) {
  .nav-link {
    display: none !important;
  }
  .sub-text {
    font-size: 1.6rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.8rem 2.2rem;
  }
  .logo-text {
    font-size: 2.8rem !important;
  }
  .btn-mobile-nav {
    display: block;
    font-size: 3.2rem;
    margin-left: 2rem;
  }
  .main-nav-list {
    gap: 4rem;
  }
  .header {
    padding: 0 4rem;
  }
  .hero-btn.slider__btn--left {
    right: 35rem;
  }
  .hero-btn.slider__btn--right {
    right: 30rem;
  }
  .products__container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
  .opportunities {
    flex-wrap: wrap;
  }
  .slider {
    width: 40rem;
  }
  .funiro-footer--text {
    display: none;
  }
  .hero__container {
    top: 2rem;
  }
  .hero__text-container {
    padding-left: 3rem;
    padding-right: 1.4rem;
    max-width: 48rem;
    gap: 1.2rem;
  }
  .hero__description {
    font-size: 3.6rem;
  }
  .photo {
    width: 60rem;
    height: 40rem;
  }
  .photo-desctription-container {
    padding: 1.8rem;
  }
  .description-title {
    font-size: 2rem;
  }
  .description-price {
    font-size: 1.6rem;
  }
  .hero__photo-desctription {
    transform: translateX(-100%);
  }
}
@media (max-width: 1046px) {
  html {
    font-size: 50% !important;
  }
}
@media (max-width: 926px) {
  .hero__photo-desctription {
    transform: translateX(-20%);
  }
  .hero__container {
    position: relative;
    margin-left: 22%;
  }
  .hero__photo-section {
    overflow-x: hidden;
  }
  .hero-btn.slider__btn--left {
    position: static;
  }
  .hero-btn.slider__btn--right {
    position: static;
  }
  .hero__container {
    align-self: center;
  }
  .header {
    padding: 0 2rem;
  }
  .main-nav-list {
    gap: 2.4rem;
  }
}
@media (max-width: 849px) {
  .grid--footer {
    column-gap: 2rem;
  }
}
@media (max-width: 762px) {
  .rooms-btn {
    left: 45rem;
  }
  .rooms__section-description {
    margin-left: 6rem;
  }
  .rooms_photo-section {
    margin-left: -7rem;
  }
  .grid--footer {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
@media (max-width: 707px) {
  .search__container {
    width: 40rem;
  }
  .colored-container {
    width: 63vw;
  }
}

@media (max-width: 672px) {
  .rooms__section {
    flex-direction: column;
    align-items: center;
    padding-bottom: 104rem;
  }
  .rooms_photo-section {
  }
  .rooms__indicator {
    top: 30rem;
  }
  .rooms-btn {
    top: 54rem;
    left: 65rem;
  }
  .rooms__section-description {
    padding-top: 12rem;
  }
}
@media (max-width: 616px) {
  body {
    overflow-x: hidden;
  }
  .main-nav-list {
    gap: 1rem;
  }
}
@media (max-width: 550px) {
  .cart-link {
    display: none !important;
  }
  .account-link {
    display: none !important;
  }
  .grid--footer {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
  .rooms__indicator {
    top: 40rem;
    left: 37rem !important;
  }
  .rooms-btn {
    top: 64rem;
    left: 36rem;
  }
  .furniture__section-photo-container--item {
    max-width: 20rem;
    max-height: 30rem;
  }
  .furniture_item8 {
    margin-left: -10rem;
  }
}
@media (max-width: 500px) {
  .main-nav-list {
    gap: 0.6rem;
  }
  .search__container {
    width: 36rem;
  }
  .colored-container {
    width: 67vw;
  }
}
@media (max-width: 500px) {
  .search__container {
    width: 59vw;
  }
  .colored-container {
    width: 67vw;
  }
}
@media (max-width: 500px) {
  .products__container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
