/**************************/
/******* TOP SIDE *********/
/**************************/

/*******HEADER*********/
.top-side {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fcf8f3;
  z-index: 0;
  transition: all 0.4s;
}
.colored-container {
  position: absolute;
  left: 0;
  width: 67vw;
  height: 100%;
  z-index: 1;
  background-color: #f9f1e7;
}
.header {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  transition: all 0.5s;
}

/*******TEXT LOGO*********/

.logo-text {
  font-size: 2.4rem !important;
  font-weight: bold;
  text-decoration: 0;
  color: #000;
}

/**************************/
/*******NAVIGATION*********/
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e89f71;
}

/*******SEARCH BAR*********/

.search__container {
  position: relative;
  width: 47rem;
  height: 4.5rem;
}
.search--input {
  padding-left: 3.5rem;
  width: 100%;
  height: 100%;
  border: none;
  transition: all 0.4s;
}
.search--icon {
  max-width: 2rem;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}
textarea:focus,
input:focus {
  outline: none;
  border: rgba(232, 159, 113, 0.2) solid 1px;
}

/*******ICON BAR*********/

.cart-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.cart-link {
  position: relative;
}
.cart-number {
  position: absolute;
  color: #3a3a3a;
  left: 1.6rem;
  top: -0.4rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  font-size: 1.6rem;
  text-align: center;
  background-color: rgba(255, 185, 142, 0.5);
}
.personal-photo {
  max-width: 4rem;
  max-height: 4rem;
}

/*******Mobile nav*********/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  max-height: 4.8rem;
  max-width: 4.8rem;
  color: #333;
}

/*******HERO SECTION*********/
.hero__section {
  position: relative;
  z-index: 2;
  transition: all 0.4s;
}

.hero__container {
  z-index: 2;
  position: absolute;
  left: 22rem;
  top: -1rem;
  max-width: 53rem;
  max-height: 50rem;
  padding-bottom: 6rem;
  background-color: rgba(255, 255, 255, 0.72);
}

/*******HERO TEXT BOX*********/

.hero__text-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 51rem;
  padding-left: 5rem;
  padding-right: 2rem;
}
.hero__description {
  font-size: 5.6em;
  text-shadow: #a5a3a3 -2px 2px;

  padding: 5rem 5rem 1rem 0;
}
.hero__sub-description {
  max-width: 35rem;
}

/*******BUTTON [SHOP NOW]*********/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-align: center;
  justify-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 2.8rem 3.2rem;
  max-width: 37rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e89f71;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #dd8e5c;
}
.btn--full:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
/*******HERO INDICATOR BUTTONS*********/
.hero-btn.slider__btn--right {
  position: absolute;
  right: 14rem;
  background-color: #e89f71;
  box-shadow: none;
  color: #fff;
}
.hero-btn.slider__btn--right:hover {
  color: #595959;
}
.hero-btn.slider__btn--left {
  position: absolute;
  right: 19rem;
  box-shadow: none;
  color: #e89f71;
  background-color: rgb(232, 159, 113, 0.3);
}

/*******HERO BACKGROUND PHOTOS*********/

.hero__photo-section {
  display: flex;
  position: relative;
  width: 164rem;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  gap: 3.2rem;

  transition: all 0.6s;
}
.photo {
  width: 90rem;
  height: 60rem;
}

/*******PHOTO DESCTRIPTION BOX*********/
.photo-desctription-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.72);
  right: 10rem;
  bottom: 10rem;
  padding: 3.2rem;
  transition: all 0.3s;
}
.photo-desctription-container:hover {
  cursor: pointer;
}
.hero__photo-desctription {
  transition: all 0.4s;
  transform: translateX(-20%);
  position: relative;
}
.hero__normalize {
  opacity: 0;
  content: "-20";
}
.description-title {
  font-size: 2.8rem;
  font-weight: 600;
}

.right-row-icon {
  margin-left: 4rem;
  width: 2rem;
  height: 2rem;
}

/*******opportunities section*********/

.opportunities {
  display: flex;
  gap: 4rem;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
  transition: all 0.7s;
}
.opportunities-item {
  display: flex;
  gap: 3rem;
}
.opportunities-item-icon {
  width: 4rem;
  height: 4rem;
}
.opportunities-item-heading {
  color: #3a3a3a;
  font-size: 1.8rem;
}
.opportunities-item .sub-text {
  font-size: 1.6rem;
}

/******************************/
/*******PRODUCTS SECTION*********/
/******************************/
.products__section {
  behavior: "smooth";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 8rem;
  margin-bottom: 4.2rem;
}
.products__section-header,
.rooms__section-header,
.tips__section-header,
.furniture__section-header {
  color: #3a3a3a;
  font-size: 4rem;
  font-weight: 700;
}
.products__container {
  display: grid;
  max-width: 130rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
  transition: all 0.4s;
}

/*******PRODUCTS ITEMS*********/

.product__item {
  position: relative;
  background-color: #f4f5f7;
  transition: all 0.4s;
}

/*******hovered part*********/
.product__item-hovered {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 3rem;
  background-color: rgba(58, 58, 58, 0.72);
  transition: all 0.5s;
}

.product__item.sales::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 2.5rem;
  right: 2.5rem;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  content: "-30%";

  background-color: #e97171;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.product__item-sale--hover.sales::before {
  opacity: 0;
}
.product__item.sales:hover::before {
  opacity: 0;
}
.product__item.sales.big::before {
  content: "-50%";
}
.product__item.sales.new::before {
  content: "New";
  background-color: #2ec1ac;
}

.product__item:hover > .product__item-hovered {
  left: 0;
  right: 0;
  opacity: 1 !important;
  background-color: rgba(99, 99, 99, 0.72);
}
.product_item-button--cart.btn {
  margin-top: 1rem;
  background-color: #fff;
  color: #e89f71;
  padding: 1.8rem;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 600;
  width: 20rem;
  height: 5rem;
}
.product_item-button--cart.btn:hover {
  background-color: rgba(250, 234, 205, 0.9);
}
.product_item-button-section {
  display: flex;
  gap: 3rem;
}
.product_item-button--like,
.product_item-button--share {
  display: flex;
  align-items: center;
  height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff !important;
}
.product_item-button-icon {
  display: inline-block;
  font-size: 2.4rem;
  transition: all 0.4s;
}
.product_item-button--like:hover > .product_item-button-icon,
.product_item-button--share:hover > .product_item-button-icon {
  color: rgba(221, 142, 92, 0.8);
}
.product_item-button--like:hover > span,
.product_item-button--share:hover > span {
  transition: all 0.4s;
  color: rgba(250, 234, 205, 0.9);
}

/*******regular part*********/

.product__item-image {
  width: 100%;
  transition: all 2s;
}

.product__item-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: #3a3a3a;
}
.product__item-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.product__item .sub-text {
  font-size: 1.6rem;
}

.product__item-price {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
.canceled-price.sub-text {
  font-size: 1.6rem;
  align-self: flex-end;
  color: #b0b0b0;
  text-decoration: line-through;
}

.products_section-button--more.btn {
  background-color: #fff;
  border: 1px solid #e89f71;
  font-size: 1.6rem;
  font-weight: 600;
  color: #e89f71;
  border-radius: 0;
  padding: 1.4rem 0;
  width: 100%;
  height: 100%;
  max-width: 25rem;
  max-height: 5rem;
}

/*******************************/
/******* ROOMS SECTION *********/
/*******************************/
.rooms__section {
  display: flex;
  background-color: #fcf8f3;
  width: 100%;
  height: 66rem;
  transition: all 0.4s;
}

.rooms__section-description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 10rem;
  padding-top: 18rem;
  max-width: 40rem;
  transition: all 0.4s;
}

.rooms__section-header {
}
.rooms__section-description--button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 5rem;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
}
/*********PHOTO SECTION*********/

.rooms_photo-section {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.rooms-btn {
  position: absolute;
  right: 14rem;
  color: #e89f71;
}
.photo__section-element {
  position: absolute;
  height: 59rem;
  width: 40rem;
  left: 10rem;
  top: 4rem;
  transition: all 0.4s;
}
.photo__section-element--item {
  transition: all 0.4s;
  height: 59rem;
  width: 40rem;
}
.photo__section-element.item2 {
  height: 48rem;
  width: 37rem;
  left: 52.4rem;
  top: 4rem;
}
.photo__section-element.item3 {
  left: 91.8rem;
}
.item2 > .photo__section-element--item,
.item3 > .photo__section-element--item {
  height: 48rem;
  width: 37rem;
}

.rooms__indicator.indicator-container {
  transform: translate(-10rem, 24rem);
}
.photo-desctription-container.rooms {
  cursor: default;
  opacity: 0;
}
.item1 .photo-desctription-container.rooms {
  opacity: 1;
}
.item1 .photo-desctription-container.rooms::after {
  position: absolute;
  bottom: 0;
  right: -2.4rem;
  content: "→";
  color: #fff;
  font-size: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;

  background-color: #e89f71;
}
.photo-desctription-container--name {
  font-size: 1.6rem;
  color: #616161;
  font-weight: 500;
}
.photo-desctription-container--name.item1 {
  display: block;
}

/******************************/
/*********TIPS SECTION*********/
/******************************/

.tips__section {
  display: flex;
  max-width: 120rem;
  width: 100%;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tips__section-header {
  padding-top: 1.2rem;
  padding-bottom: 2rem;
}
.tips__container {
  display: flex;
  align-items: center;
}

/******************************/
/********   SLIDER    *********/
/******************************/
.slider__container {
  transition: all 0.3s;
}
.slider {
  position: relative;
  height: 35rem;
  width: 120rem;
  overflow-x: hidden;
}
.slider__btn {
  background-color: #fff;
  padding: 1rem;
  height: 4rem;
  font-size: 2rem;
  width: 4rem;
  border: none;
  z-index: 15;
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}
.slider__btn:hover {
  cursor: pointer;
  background-color: #f0f0f0a8;
}
.slide {
  position: absolute;
  background-color: #fff;
}
.slide.active {
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.1);
}
.testimonial > img {
  height: 25rem;
  width: 39rem;
}
.testimonial {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.8rem;
}
.testimonial__text {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
  margin-top: 1.6rem;
  width: 34rem;
  height: 6rem;
}
.testimonial-heading {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  color: #3a3a3a;
  max-width: 34rem;
  max-height: 6rem;
}
.testimonial-data {
  color: #898989;
  font-size: 1.4rem;
  font-weight: 400;
  align-self: flex-start;
  padding-bottom: 0.4rem;
}

/**********************************/
/********FURNITURE SECTION*********/
/**********************************/
.furniture__section {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding: 3.4rem 0;
  width: 100%;
}
.furniture__section-describe.sub-text {
  color: #616161;
}
.furniture__section-photo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin-right: -7.2rem;
  transition: all 0.4s;
}
.furniture__section-photo-container--item {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.furniture_item1 {
  /* background-image: url("/assets/img/furnitures/img1.png"); */
  height: 38rem;
  width: 28rem;
  align-self: flex-end;
}
.furniture_item2 {
  /* background-image: url("/assets/img/furnitures/img2.png"); */
  height: 31rem;
  width: 45rem;
  margin-left: -10rem;
  align-self: flex-end;
}
.furniture_item3 {
  /* background-image: url("/assets/img/furnitures/img3.png"); */
  height: 31rem;
  width: 45rem;
  align-self: flex-end;
}
.furniture_item4 {
  /* background-image: url("/assets/img/furnitures/img4.png"); */
  height: 43rem;
  width: 43rem;
  padding-left: 1rem;
  border: 1rem solid #fff;
  border-bottom: none;
  align-self: flex-end;
}
.furniture_item5 {
  /* background-image: url("/assets/img/furnitures/img5.png"); */
  height: 42rem;
  width: 38rem;
}
.furniture_item6 {
  /* background-image: url("/assets/img/furnitures/img6.png"); */
  height: 24rem;

  width: 35rem;
}
.furniture_item7 {
  /* background-image: url("/assets/img/furnitures/img7.png"); */
  height: 40rem;
  width: 30rem;
  margin-top: -20rem;
  margin-left: -3rem;
}
.furniture_item8 {
  /* background-image: url("/assets/img/furnitures/img8.png"); */
  height: 24rem;
  width: 18rem;
  align-self: flex-start;
  margin-top: 7.8rem;
}
.furniture_item9 {
  /* background-image: url("/assets/img/furnitures/img9.png"); */
  height: 20rem;
  width: 26rem;
  margin-top: 7.8rem;
  margin-left: -31rem !important;
}
.item--moved {
  margin-bottom: -8rem;
  margin-left: -11rem;
}
.rooms-btn {
  left: 88rem;
}
.rooms__indicator.indicator-container {
  position: absolute;
  left: 64.4rem;
}
/******************************/
/********   FOOTER    *********/
/******************************/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.footer {
  width: 90%;
  margin-top: 6rem;
  padding: 4.8rem 2rem;
  border-top: 1px solid #eee;
  align-self: center;
  align-items: center;
}
.footer .container {
  align-self: center;
}
.grid--footer {
  grid-template-columns: 1fr 2.5fr 1.1fr 1fr 1.8fr 3fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #000;
  font-size: 2.4rem;
  font-weight: bold;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-input {
  background-color: #f4f5f7;
  width: 24rem;
  height: 5rem;
}
.relative-container {
  position: relative;
  display: block;
  width: 24rem;
}
.footer__input-button--submit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -5rem;
  background-color: #dd8e5c;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2.2rem;
  width: 5rem;
  height: 5rem;
}

/***********************************/
/********MOBILE NAV SECTION*********/
/***********************************/

.mobile__menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #a5a3a3;
  font-size: 5.2rem !important;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  background-color: #e89f71a9;
  backdrop-filter: blur(5px);
  z-index: 900;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.mobile__menu-close--container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #a5a3a3;
  font-size: 5.6rem !important;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.mobile__menu-link.main-nav-link {
  font-size: 3.6rem;
}
.mobile__menu-close--btn {
  position: absolute;
  font-size: 5.6rem !important;
  top: 0rem;
}
.mobile__menu-close--btn:hover,
.mobile__menu-close--btn:active {
  color: #fff;
  cursor: pointer;
}
.mobile__menu-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.mobile__menu-link .cart-icon {
  font-size: 3.6rem !important;
  width: 5.6rem !important;
  height: 5.6rem !important;
}
.mobile__menu-link .personal-photo {
  width: 5.6rem !important;
  height: 5.6rem !important;
}
.mobile__menu-link.main-nav-link:hover,
.mobile__menu-link.main-nav-link:active,
.mobile__menu-link.main-nav-link:focus {
  color: #fff;
}
.mobile__menu-close--btn {
  position: absolute;
  left: 0;
  background-color: #ffffff00;
  outline: none;
  border: none;
}
